<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuizDBEntities" connectionString="metadata=res://*/App_Data.QuizModel.csdl|res://*/App_Data.QuizModel.ssdl|res://*/App_Data.QuizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7H2AT4D\SQLEXPRESS;initial catalog=QuizDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>